@import "tailwindcss";


@theme {

  --color-techblue: #071426;
  --color-techdark: #0B1D35;
  --color-techorange: #FF6B00;
  --color-orangeLight: #FF8C32;

}


body {

  background: #071426;
  color: white;

}